@charset "utf-8";
body {
	background-color: #FFF;
	width:100%;
	margin:auto;
	
	padding:0px;
	text-align:center;
}
.header{
	 width:100%;
	 margin-top:10px;
	 background-image:url(images/bodybg.jpg);
	 height:153px;
	 background-repeat:repeat-x;
	 float:left;
}
.banner{
	 width:471px;
	 background-image:url(images/bannerbg.jpg);
      background-repeat:repeat;
	 height:153px;
	 float:left;
}
img.emblem{
	margin:5px;
	margin-top:26px;
	margin-left:35px;
	float:left;
	}
	
img.bannertext{
     width:auto;
	 height:auto;
	 float:left;
	 margin-left:15px;
	 margin-top:39px;
}
img.bannerimage{
	
	 width:auto;
	 height:auto;
	  float:right;
}
.main{
	  padding:10px;
	  width:98%;
	  float:left;}
section{
	  width:25%; 
      
	  float:left;
}
section.left{
	width:100%;
	 float:left;
}
section.box{
	 width:100%;
	 padding-bottom:15px;
	 border:1px solid #e4e4e4;
	 float:left;
	 margin-bottom:10px;
}
section.post{
	 
	 padding-bottom:15px;
	 border:1px solid #e4e4e4;
	 margin-bottom:10px;
	 width:47%; margin-left:21px; margin-right:5px; float:left;
}
	 
section.innerbox{
	  width:100%; height:33px;
	  background-image:url(images/boxiiner.jpg);
	  background-repeat:repeat-x;
	  text-align:center;
	  font-family:Verdana, Geneva, sans-serif;
	  font-size:13px;
	  font-style:italic; 
	  text-transform:uppercase;
	  color:#fff;
	  line-height:26px;
}

ul{
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
	margin-left:25px;
}
li{ 
   margin-top:10px;
   width:85%;
   text-align:justify;
   font-family:Verdana, Geneva, sans-serif;
   font-size:11px;
   color:#000;
   list-style-image:url(images/bullet.jpg);
}
li.icon{
	 width:auto;
	 float:left; 
	 list-style-image:none;
	 list-style-type:none;
	 float:left;
	 font-family:Verdana, Geneva, sans-serif;
	 font-size:13px;
	 color:#000;
	 font-style:italic;
	 margin:0px;
}
p{
	 width:100%; 
	 font-family:Verdana, Geneva, sans-serif;
	 font-size:12px;
	 color:#000;
	  text-align:justify;
	  float:left;
	  line-height:16px;
}
li.bullet{
	   list-style-image:url(images/icon5.jpg);
	   width:94%;
	   font-size:12px;
}
a{
	color:#000;
	text-decoration:none;
}
a:hover{
	color:red;
	text-decoration:none;
}
img{
	border:none;
}
.midcontent{
	width:47%; margin-left:21px; margin-right:5px; float:left;
}
.midcontent_box{
	width:100%; border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px;  border:1px solid #e1e1e1; height:40px;
}
img.navicon{
	margin-right:5px;
}
.nav{
	width:auto; height:20px; margin-top:5px; font-family:verdana; font-size:13px; color:#000; font-style:italic;
}
span.nav1{
	margin-right:10%;
}